@model EditViewModel<DemoApp.Web.DomainModels.Publisher>

@{
    ViewBag.Title = "Publisher / Create";
    var viewModel = Model;
    var model = Model.Model;
}

<h2>Save/Create</h2>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script> 
    
    <script src="@Url.Content("~/Scripts/zephyr/zephyr-form.js")" type="text/javascript"></script>
    
}


@using (Html.BeginForm("Edit", "Publisher")) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Publisher</legend>

        <div class="clearfix"/>
        @Html.LabelFor(_ => model.PublisherName)
        
        <div class="controls">
            @Html.EditorFor(_ => model.PublisherName)
            @Html.ValidationMessageFor(_ => model.PublisherName)
        </div>

        <div class="clearfix"/>
        @Html.LabelFor(_ => model.CreatedBy)
        
        <div class="controls">
            @Html.EditorFor(_ => model.CreatedBy)
            @Html.ValidationMessageFor(_ => model.CreatedBy)
        </div>
    
    @Html.HiddenFor(_ => model.Id)        
        
    </fieldset>
    
    <div class="form-actions">
          <button class="btn btn-primary" data-loading-text="saving..." type="submit"><i class="icon-ok icon-white"></i>
          Save</button> 
    </div>           
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>
