@using DemoApp.Web.Controllers
@model IEnumerable<DemoApp.Web.DomainModels.Publisher>

@{
    ViewBag.Title = "Publisher / Home";
}

@section Scripts
{    
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}

<h2>Index</h2>

<p>
    @(Html.ActionLink<PublisherController>(c=>c.Create(), "Create new publisher", new {@class="btn"}))
</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                PublisherName
            </th>
            <th>
                No of Books
            </th>        
            <th>
                CreatedAt
            </th>        
            <th>
                LastUpdatedAt
            </th>
            <th colspan="2"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherName)
                </td>
                <td>
                    @item.Books.Count
                </td>        
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>        
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedAt)
                </td>
                <td colspan="2">
                    @(Html.ActionLink<PublisherController>(c=>c.Edit(item.Guid), "Edit")) |
                    @(Html.ActionLink<PublisherController>(c=>c.Details(item.Guid), "Details"))  
                </td>
                <td>
                    @using(Html.BeginForm<PublisherController>(c=>c.Delete(item.Guid)))
                    {
                        @Html.AntiForgeryToken()
                        <input class="btn" type="submit" value="delete" onclick="return confirm('Are you sure?')"/>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<p>
    <!-- sample modal content -->
    <div id="modal-edit-publisher" class="modal hide fade">
            
    </div>
</p>
