@model NHAutoMvcDemo.DomainModels.Book           

@{
    ViewBag.Title = "Book Details";
}


<fieldset>
    <legend>@Html.DisplayFor(model => model.BookName)</legend>
    
    <dl>
        <dt>@Html.DisplayFor(model => model.BookName)</dt>
        <dd>@Html.DisplayFor(model => model.BookDescription)</dd>
        
        <dt>Publisher</dt>
        <dd>@Html.ActionLink(Model.Publisher.ToString(), "Details", "Publisher", new {id = Model.Publisher.Id}, null)</dd>
        
        <dt>Published Date</dt>
        <dd>@Html.DisplayFor(model => model.PublishedDate)</dd>
        
        <hr/>
        <h4>Audit Info</h4>
        <dt>Created By</dt>
        <dd>@Html.DisplayFor(model => model.CreatedBy)</dd>
        <dt>Created At</dt>
        <dd>@Html.DisplayFor(model => model.CreatedAt)</dd> 
        
        <dt>Last Updated by</dt>
        <dd>@Html.DisplayFor(model => model.LastUpdatedBy)</dd>
        <dt>Last Updated At</dt>
        <dd>@Html.DisplayFor(model => model.LastUpdatedAt)</dd>
    </dl>    
            
</fieldset>
<p>
    @Html.ActionLink("Edit", "SaveBook", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
