@using NHAutoMvcDemo.Controllers
@model IEnumerable<NHAutoMvcDemo.DomainModels.Book>

@{
    ViewBag.Title = "Store / Home";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add new Book", "AddBook")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Publisher
            
        </th>
        <th>
            PublishedDate
        </th>
        <th>
            Created At:
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.ActionLink(item.Publisher.ToString(), "Details", "Publisher", new {id=item.Publisher.Id}, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>      
        <td>
            @(Html.ActionLink<StoreController>(c=>c.SaveBook(item.Id), "Edit")) |
            @(Html.ActionLink<StoreController>(c=>c.BookDetails(item.Id), "Details"))
        </td>
        <td>
            @using(Html.BeginForm<StoreController>(c=>c.DeleteBook(item.Id)))
            {
                @Html.AntiForgeryToken()
                <input class="btn" type="submit" value="delete" onclick="return confirm('Are you sure?')"/>
            }
        </td>
    </tr>
}

</table>
