@using NHAutoMvcDemo.Controllers
@model IEnumerable<NHAutoMvcDemo.DomainModels.Publisher>

@{
    ViewBag.Title = "Publisher / Home";
}

<h2>Index</h2>

<p>
    @(Html.ActionLink<PublisherController>(c=>c.Create(), "Create new publisher"))
</p>
<table>
    <tr>
        <th>
            PublisherName
        </th>
        <th>
            No of Books
        </th>
        <th>
            CreatedBy
        </th>
        <th>
            CreatedAt
        </th>
        <th>
            LastUpdatedBy
        </th>
        <th>
            LastUpdatedAt
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PublisherName)
        </td>
        <td>
            @item.Books.Count
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdatedAt)
        </td>
        <td>
            @(Html.ActionLink<PublisherController>(c=>c.Edit(item.Id), "Edit")) |
            @(Html.ActionLink<PublisherController>(c=>c.Details(item.Id), "Details"))
        </td>
        <td>
            @using(Html.BeginForm<PublisherController>(c=>c.Delete(item.Id)))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="delete" onclick="return confirm('Are you sure?')"/>
            }
        </td>
    </tr>
}

</table>
